.NavbarItems {
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    margin: 5px 15px 0px;
    padding: 5px 5px 0px;
    cursor: pointer;
}

.navbar-container {
    display: flex;
    position: sticky;
    opacity: 0 0 0 0;
    background-color: #003333;
    justify-content: space-between;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    display: grid;
    place-items: center;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 1.2rem 1rem;
}

a.btn-mobile {
    cursor: default;
}

.nav-links:hover {
    background-color: #006666;
    border-radius: 4px;
    transition: all 0.5s ease-out;
}

/* .fa-bars {
    color: #fff;
} */

.nav-links-mobile {
    display: none;
}

.navbar-logo img {
    height: 80px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1100px) {
    .NavbarItems {
        position: sticky;
    }

    .nav-links {
        display: grid;
        place-items: center;
        text-align: center;
        padding: 2rem;
        width: 100%;
        justify-content: center;
        border-radius: 0;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navbar-container {
        display: flex;
        position: sticky;
        opacity: 0 0 1 0;
        background-color: #003333;
        justify-content: space-between;
    }

    .nav-menu.active {
        background: #006666;
        position: absolute;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navbar-logo {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 15%;
        left: 5%;
        transform: translate(0%, 0%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: transparent;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #6568F4;
        transition: 250ms;
    }

    Button {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    a.navbar-logo {
        padding: 10px 0px;
        margin: 0px 0px 15px;
        transition: 3000ms;
    }

    .navbar-logo img {
        transition: 3000ms;
        height: 69px;
    }
}

@media screen and (max-width: 350px) {
    a.navbar-logo {
        padding: 10px 0px;
        margin: 0px 0px 15px;
    }

    .navbar-logo img {
        transform: rotateX(180deg);
        transition: 3000ms;
    }
}

@media screen and (min-width: 500px) {
    a.navbar-logo {
        transition: 3000ms;
    }

    .navbar-logo img {
        transition: 3000ms;
    }
}

/* min kod --- add on code a*/

.nav-links-cta:hover {
    background: red;
}